:root {
  --branding-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #6c63ff;
}

h1, h2, h3, h4, h5, h6 {
   color: black;
   font-family: var(--heading-font-family);
   font-weight: bold;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: black;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}

h4 {
   text-align: center;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  padding-top: 0;
  margin-top: 0;
}

.hero {
  background: var(--branding-color);
  text-align: center;
  padding: 80px 20px;
  margin-bottom: 0;
  padding-bottom: 1px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  margin-bottom: 0;
  
}

.btn-branding-outline {
   color: var(--secondary-color);
   border: 1px solid var(--secondary-color);
   border-radius: 4px;
   font-size: 18px;
   line-height: 27px;
   padding: 15px 20px;
   
   margin-bottom: 0;
   
}

.project-description {
   padding: 100px 60px;
}
.footer {
   justify-content: center;
   text-align: center;
   font-family: var(--default-font-family);
   font-size: 12px;
   padding-bottom: 25px;
}

@media (max-width:900px) {
   .project-description {
      padding: 0;
      text-align: center;
   }

   .hero {
      padding: 80px 20px;
   }
   h1 {
      font-size: 50px;
   }
   h2 {
      font-size: 44px;
   }
   
   .container {
      padding-left: 160px;
      
   }

   #me {
      width: 90px;

   }
}

   img {
   border-radius: 6px;
   }
#me {
   border-radius: 500px;
   border:#6c63ff 2px solid;
   
}

